body {
  background-color: #11111b;
  color: #cdd6f4;
  font-family: sans-serif;
  font-size: 16px;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

:where([data-theme="mocha"]) {
  color-scheme: dark;
  --rosewater: #f5e0dc;
  --flamingo: #f2cdcd;
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --peach: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --sky: #89dceb;
  --sapphire: #74c7ec;
  --blue: #89b4fa;
  --lavender: #b4befe;
  --text: #cdd6f4;
  --subtext1: #bac2de;
  --subtext0: #a6adc8;
  --overlay2: #9399b2;
  --overlay1: #7f849c;
  --overlay0: #6c7086;
  --surface2: #585b70;
  --surface1: #45475a;
  --surface0: #313244;
  --base: #1e1e2e;
  --mantle: #181825;
  --crust: #11111b;
}

iconify-icon {
  display: inline-block;
}

code span {
  font-style: var(--shiki-light-font-style);
}

:where([data-theme="mocha"]) {
  code span {
    font-style: var(--shiki-dark-font-style);
  }

  code span,
  .shiki span {
    color: var(--shiki-dark) !important;
  }
}

figure.shiki {
  margin: 0 0 24px;
  border-radius: 8px;
  border: 0.5px solid var(--surface0);
  overflow: auto;
  background: var(--mantle);
  color: var(--text);
}

.shiki-tools {
  display: flex;
  justify-content: space-between;
  min-height: 30px;
  padding: 0 15px;
  font-family:
    Maple Mono NF CN,
    Maple Mono CN,
    monospace;
  font-weight: bolder;
  user-select: none;
  overflow: hidden;
  position: relative;
  background: var(--mantle);
  color: var(--subtext1);

  > .left {
    gap: 5px;
    display: flex;
    align-items: center;
  }

  > .center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    overflow: hidden;
    min-width: 0;
  }

  > .right {
    gap: 10px;
    display: flex;
    align-items: center;

    > iconify-icon {
      cursor: pointer;
      transition:
        color 0.3s,
        transform 0.3s ease;
    }

    > iconify-icon:hover {
      color: var(--blue);
    }
  }
}

.shiki-tools .expand {
  font-size: 1.2em;
  margin-left: -2px;
}

.shiki-tools .expand.closed {
  transform: rotate(90deg);
}

.shiki-tools > .right > .copy-notice {
  position: absolute;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  padding: 0 5px 0 0;
  transform: translate(-110%);
  transition:
    opacity 0.2s ease,
    visibility 0.2s ease;

  &[style*="opacity: 1"] {
    opacity: 1;
    visibility: visible;
  }
}

.traffic-lights {
  display: flex;
  align-items: center;
  padding-right: 8px;
  margin-left: -7px;
}

.traffic-light {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 8px;
  position: relative;

  &.red {
    background-color: var(--red, #f38ba8);
  }

  &.yellow {
    background-color: var(--yellow, #fab387);
  }

  &.green {
    background-color: var(--green, #a6e3a1);
  }
}

@keyframes code-expand-pulse {
  0%,
  to {
    opacity: 0.6;
  }

  50% {
    opacity: 0.1;
  }
}

.code-expand-btn {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  cursor: pointer;

  > iconify-icon {
    padding: 6px 0;
    animation: code-expand-pulse 1.2s infinite;
    transition: transform 0.3s ease;
  }

  &.expand-done > iconify-icon {
    transform: rotate(180deg);
  }
}

figure.shiki[data-collapsible="true"] {
  position: relative;
}

figure.shiki[data-collapsible="true"] > pre.shiki {
  position: relative;
  overflow: hidden;
  transition: max-height 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

figure.shiki[data-collapsible="true"]:not(.expanded) > pre.shiki:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  pointer-events: none;
  z-index: 1;
  background: linear-gradient(
    transparent 0%,
    hsl(from var(--mantle) h s l / 0.8),
    30%,
    var(--mantle) 100%
  );
  opacity: 1;
}

figure.shiki[data-collapsible="true"].expanded > .code-expand-btn {
  transform: translateY(0);
}

pre.shiki {
  background: var(--mantle);
  padding: 0.6em;

  > code {
    text-align: left;
    counter-reset: step;
    counter-increment: step 0;
    padding: 0;
    background: none;
    border: none;
    width: 100%;
    font-family:
      Maple Mono NF CN,
      SF Pro,
      Fira Code,
      JetbrainsMono Nerd Font,
      Menlo,
      DejaVu Sans Mono,
      monospace;

    > span.line {
      display: block;
      width: fit-content;
      min-width: 100%;

      &:before {
        content: counter(step);
        counter-increment: step;
        width: 1.2rem;
        margin-right: 1.2rem;
        display: inline-block;
        text-align: right;
        color: #738a9466;
      }
    }
  }
}

span.line.diff {
  &.remove {
    background-color: hsl(from var(--red) h s l / 0.2);

    &:before {
      content: "-";
      color: var(--red);
    }
  }

  &.add {
    background-color: hsl(from var(--green) h s l / 0.2);

    &:before {
      content: "+";
      color: var(--green);
    }
  }
}

span.line.highlighted {
  background-color: hsl(from var(--blue) h s l / 0.2);

  &.error {
    background-color: hsl(from var(--red) h s l / 0.2);
  }

  &.warning {
    background-color: hsl(from var(--yellow) h s l / 0.2);
  }
}

span.highlighted-word {
  background-color: hsl(from var(--yellow) h s l / 0.3);
  border-radius: 4px;
  margin: -1px -2px;
  padding: 1px 2px;
}

pre.shiki.has-focused > code {
  > .line {
    filter: blur(3px);
    opacity: 0.7;
    transition:
      filter 0.35s,
      opacity 0.35s;
  }

  > .line.focused,
  &:hover .line {
    filter: blur(0);
    opacity: 1;
  }
}
